<h1>Here lies <%= current_user.email %>'s settings</h1>

<%= render "shared/flash_message" %>

<%= form_with(url: user_request_email_update_path, method: :patch) do |form| %>
  <%= hidden_field_tag :change, "email" %>
  <%= form.email_field :email, value: current_user.email %>
  <% if error_message = local_assigns[:error_message] %>
    <p class="text-danger"><%= error_message %></p>
  <% end %>
  <%= form.submit "Update" %>
<% end %>

<%= render partial: "users/passwords/form", locals: {password: password} %>

<h2>All your active sessions</h2>
<p>BTW, logging out of your account logs you out of all your sessions.</p>
<ul>
  <% active_sessions.each do |user_token| %>
    <li id="<%= dom_id(user_token) %>">
      <%= user_token.created_at %>
      <% if (user_token.token == session[:user_token]) %>
        <p><strong>This is your current session</strong></p>
        <% else %>
        <%= form_with(model: user_token, url: destroy_user_session_path(user_token), method: :delete, data: {turbo_confirm: "Are you sure?"}) do |form| %>
          <%= form.submit "Delete" %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>