<%= turbo_frame_tag dom_id(expense) do %>
  <article class="shadow-sm p-2 mb-2" data-controller="clickable" data-action="click->clickable#click" role="button">
    <p class="p-0 m-0 mb-2">
      <span class="text-danger fw-bold">-<%= number_to_pesos(expense.amount_from_cents) %></span>
      <br />
      <span class="fw-light fst-italic"><%= expense.purpose %></span>
    </p>

    <% if expense.errors.any? %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <% expense.errors.full_messages.each do |error_msg| %>
          <%= error_msg %> <br />
        <% end %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

    <div class="d-flex">
      <%= link_to "Edit", edit_expense_path(expense), class: "btn btn-sm btn-secondary me-2 d-none", data: {clickable_target: "linkToFollow"} %>
    </div>
  </article>
<% end %>