<% if @monthly_expenses.no_expenses_this_month? %>
  <article>
    <h1>Congrats! You didn't spend a dime for the<br />whole month of <%= month_and_year_for_date(date) %>.</h1>
    <%= link_to expenses_path(date: date) do %>
      <span>&#8592; Daily Expenses</span>
    <% end %>
  </article>
<% else %>
  <h1>Breakdown for <%= month_and_year_for_date(date) %></h1>

  <%= link_to expenses_path(date: date) do %>
    <span>&#8592; Daily Expenses</span>
  <% end %>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Amount</th>
          <th>Purpose</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% expenses.each do |expense| %>
          <tr>
            <td><%= number_to_pesos(expense.amount_from_cents) %></td>
            <td><%= expense.purpose %></td>
            <td><%= expense.date %></td>
          </tr>
        <% end %>
        <tr>
          <td scope="col" colspan="3" class="fw-bolder fs-3">
            <span>Total: <%= number_to_pesos(total_for_month) %></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>