<%= form_with(id: "change_password_form", model: current_user, url: update_user_password_path, method: :patch) do |form| %>
  <div>
    <%= label_tag :current_password %>
    <%= password_field_tag :current_password, nil %>
    <% if @current_password_invalid %>
      <p class="text-danger">incorrect password</p>
    <% end %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
    <%= field_errors(form.object, :password) %>
  </div>

  <div>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
    <%= field_errors(form.object, :password_confirmation) %>
  </div>
  <%= form.submit "Change password" %>
<% end %>